<ion-header style="height: 70px;">
  <ion-navbar style="height: 70px;">
    <ul class="nav justify-content-end" style="font-size: inherit;margin-right: 100px;">
      <li class="nav-item">
        <img class="rounded" style="width:100px; 
              height:67px;
              position: absolute;
              left: 50px;
              top: 1px;" [src]="logoURL">
      </li>
      <li class="nav-item" *ngFor="let item of navigationItems">
        <a class="nav-link" href="#">{{item}}</a>
      </li>
    </ul>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid style="background-color: #333; position: fixed;z-index: 5;top: 70px;">
    <ion-row style="position: relative;
    left: 8%;
    margin-top: 5%;
    height: 100px;">
      <ion-col col-3>
        <form>
          <select class="form-control">
            <option *ngFor="let location of locations">{{location}}</option>
          </select>
        </form>
      </ion-col>
      <ion-col col-3>
        <form>
          <select class="form-control">
            <option value="volvo">Sub location</option>
            <option value="saab">Velachery</option>
            <option value="opel">OMR</option>
            <option value="audi">Tambaram</option>
          </select>
        </form>
      </ion-col>
      <ion-col col-3>
        <form>
          <select class="form-control">
            <option value="volvo">Budget</option>
            <option value="saab">10L to 25L</option>
            <option value="opel">25L to 50L</option>
            <option value="audi">50L to 1c</option>
          </select>
        </form>
      </ion-col>
      <ion-col col-1>
          <button type="button" class="btn btn-light">Search</button>
        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="position: relative;left: 3%; top: 25%">
    <ion-row>
      <ion-col col-3>
          <img src="https://i.imgur.com/VwmCeZP.png" class="imghndrd">
          <hr/>
          <label>Project:</label>
          <label>Lokaa Developers</label><br>
          <label>Price:</label>
          <label>Rs.10,00,000</label><br>
          <label>Specification:</label>
          <label>
            <ul class="specification">
              <li class="specificatinitems">Greenfield International School 0.5km</li>
              <li class="specificatinitems">Villivakkam Railway Station 5kms</li>
            </ul>
          </label><br>
          <a href="#">Site Visit</a>
          <a href="pbclanding.html">View details</a>
          <hr/>
      </ion-col>
      <ion-col col-3>
          <img src="https://i.imgur.com/yKTy5ki.png" class="imghndrd">
          <hr/>
          <label>Project:</label>
          <label>Casa grande</label><br>
          <label>Price:</label>
          <label>Rs.10,00,000</label><br>
          <label>Specification:</label>
          <label>
            <ul class="specification">
              <li class="specificatinitems">Greenfield International School 0.5km</li>
              <li class="specificatinitems">Villivakkam Railway Station 5kms</li>
            </ul>
          </label><br>
          <a href="#">Site Visit</a>
          <a href="pbclanding.html">View details</a>
          <hr/>
      </ion-col>
      <ion-col col-3>
          <img src="https://i.imgur.com/uvFKlRt.png" class="imghndrd">
          <hr/>
          <label>Project:</label>
          <label>Adroit</label><br>
          <label>Price:</label>
          <label>Rs.10,00,000</label><br>
          <label>Specification:</label>
          <label>
            <ul class="specification">
              <li class="specificatinitems">Greenfield International School 0.5km</li>
              <li class="specificatinitems">Villivakkam Railway Station 5kms</li>
            </ul>
          </label><br>
          <a href="#">Site Visit</a>
          <a href="pbclanding.html">View details</a>
          <hr/>
      </ion-col>
      <ion-col col-3>
          <img src="https://i.imgur.com/yKTy5ki.png" class="imghndrd">
          <hr/>
          <label>Project:</label>
          <label>akshaya</label><br>
          <label>Price:</label>
          <label>Rs.10,00,000</label><br>
          <label>Specification:</label>
          <label>
            <ul class="specification">
              <li class="specificatinitems">Greenfield International School 0.5km</li>
              <li class="specificatinitems">Villivakkam Railway Station 5kms</li>
            </ul>
          </label><br>
          <a href="#">Site Visit</a>
          <a href="pbclanding.html">View details</a>
          <hr/>
      </ion-col>
      <ion-col col-3>
          <img src="https://i.imgur.com/yKTy5ki.png" class="imghndrd">
          <hr/>
          <label>Project:</label>
          <label>akshaya</label><br>
          <label>Price:</label>
          <label>Rs.10,00,000</label><br>
          <label>Specification:</label>
          <label>
            <ul class="specification">
              <li class="specificatinitems">Greenfield International School 0.5km</li>
              <li class="specificatinitems">Villivakkam Railway Station 5kms</li>
            </ul>
          </label><br>
          <a href="#">Site Visit</a>
          <a href="pbclanding.html">View details</a>
          <hr/>
      </ion-col>
      <ion-col col-3>
          <img src="https://i.imgur.com/yKTy5ki.png" class="imghndrd">
          <hr/>
          <label>Project:</label>
          <label>akshaya</label><br>
          <label>Price:</label>
          <label>Rs.10,00,000</label><br>
          <label>Specification:</label>
          <label>
            <ul class="specification">
              <li class="specificatinitems">Greenfield International School 0.5km</li>
              <li class="specificatinitems">Villivakkam Railway Station 5kms</li>
            </ul>
          </label><br>
          <a href="#">Site Visit</a>
          <a href="pbclanding.html">View details</a>
          <hr/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>